<div>
    <div class="postAction">
        <div class="actionContainer">
            <!-- UPVOTES -->
            <div class="action">
                <button 
                    class="upvote-btn" 
                    {{#if isReply}}
                    data-reply-id="{{_id}}"
                    {{else}}
                    data-post-id="{{_id}}"
                    {{/if}}>
                    <img src={{#if isUpvoted}}"/common/upvote-clicked.png"{{else}}"/common/upvote.png"{{/if}} class="upvote-img" alt="Upvote">
                </button>
                <span class="upvote-count">{{upvotes}}</span>
            </div>

            <!-- DOWNVOTES -->
            <div class="action">
                <button 
                    class="downvote-btn" 
                    {{#if isReply}}
                    data-reply-id="{{_id}}"
                    {{else}}
                    data-post-id="{{_id}}"
                    {{/if}}>
                    <img src={{#if isDownvoted}}"/common/downvote-clicked.png"{{else}}"/common/downvote.png"{{/if}} class="downvote-img" alt="Downvote">
                </button>
                <span class="downvote-count">{{downvotes}}</span>
            </div>
            <!-- REPLIES -->
            {{#if isReply}}
                <div class="action"></div>
            {{else}} 
                <div class="action reply-btn" data-post-id="{{_id}}">
                    <a href="/profile/{{author.username}}/post/{{_id}}">
                        <img src="/common/reply.png" class="reply-img">
                    </a>
                    <span>{{replies}}</span>
                </div>
            {{/if}}
        </div>

        <!-- EDIT & DELETE -->
        {{#if (eq currentuser author.username)}}
            <div class="action modifyContainer">
                {{#if isReply}}
                    <a class="modify edit-btn" href="/profile/{{author.username}}/reply/{{_id}}/edit">
                {{else}}
                    <a class="modify edit-btn" href="/profile/{{author.username}}/post/{{_id}}/edit">
                {{/if}}
                    <img src="/common/edit.png" alt="edit" class="edit-img">
                </a>
                <a class="delete delete-btn" data-id="{{_id}}" data-type="{{#if isReply}}reply{{else}}post{{/if}}">
                    <img src="/common/delete.png" alt="delete" class="delete-img">
                </a>
            </div>
        {{/if}}
    </div>
    <hr>
    {{#if isViewPost}}
        <span><b>Replies</b></span>
        <hr>
    {{/if}}
</div>
<script src="/js/dropdown.js"></script>