<div class="postContainer">
    <div class="post" onclick="window.location.href='/post/{{author.username}}/{{_id}}';">
        <img class="pfp post-pfp" src="{{author.pfp}}" alt="authorpfp">
        <div class="poster">
            <a href="/profile/{{author.username}}" class="no-style">
                <b class="profileName">{{author.profileName}}</b> <span class="username">@{{author.username}}</span> 
            </a> 
            <span>{{timeCreated}}</span>
            {{#if isEdited}}
                <span class="edited-label">(Edited)</span>
            {{/if}}
            <div class="tags">
                <a href="/community/{{community.name}}" >
                    <span class="tags tag" style="background: {{community.color}};">{{community.name}}</span>
                </a>
            </div>
        </div>
        <div></div>
        <div class="postContent">
            <h3>{{title}}</h3>
            <p>{{content}}</p>
        </div>
        <div></div>
        {{> post-actions currentuser=currentuser}}
    </div>
</div>