<div>
    <div class="postAction">
        <div class="actionContainer">
            <!-- UPVOTES -->
            <div class="action upvote-btn" data-post-id="{{_id}}">
                <img src="/common/upvote.png" class="upvote-img">
                <span class="upvote-count">{{upvotes}}</span>
            </div>
            <!-- DOWNVOTES -->
            <div class="action downvote-btn" data-post-id="{{_id}}">
                <img src="/common/downvote.png" class="downvote-img">
                <span class="downvote-count">{{downvotes}}</span>
            </div>
            <!-- REPLIES -->
            {{#if isReply}}
                <div class="action"></div>
            {{else}} 
                <div class="action reply-btn" data-post-id="{{_id}}">
                    <a href="/profile/{{author.username}}/post/{{_id}}?currentuser={{currentuser}}">
                        <img src="/common/reply.png" class="reply-img">
                    </a>
                    <span>{{replies}}</span>
                </div>
            {{/if}}
        </div>

        <!-- EDIT & DELETE -->
        {{#if (eq currentuser author.username)}}
            <div class="action modifyContainer">
                {{#if isReply}}
                    <a class="modify edit-btn" href="/profile/{{author.username}}/reply/{{_id}}/edit?currentuser={{currentuser}}">
                {{else}}
                    <a class="modify edit-btn" href="/profile/{{author.username}}/post/{{_id}}/edit?currentuser={{currentuser}}">
                {{/if}}
                    <img src="/common/edit.png" alt="edit" class="edit-img">
                </a>
                <a class="delete delete-btn" data-post-id="{{_id}}">
                    <img src="/common/delete.png" alt="delete" class="delete-img">
                </a>
            </div>
        {{/if}}
    </div>
    <hr>
    {{#if isViewPost}}
        <span><b>Replies</b></span>
        <hr>
    {{/if}}
</div>
<script src="/js/dropdown.js"></script>