<div class="replyContainer">
    <div class="post" onclick="window.location.href='/profile/{{post.authorUsername}}/post/{{post._id}}';">
        <img class="pfp" src="{{author.pfp}}" alt="pfp_o1">
        <div class="poster">
            <a href="/profile/{{author.username}}" class="no-style">
                <b class="profileName">{{author.profileName}}</b> <span class="username">@{{author.username}}</span>
            </a>
            <span>{{timeCreated}}</span> 
        </div>
        <div></div>
        <div class="postContent">
            <p>{{content}}</p>
        </div>
        <div></div>
        {{> post-actions currentuser=currentuser}}
    </div>
</div>