<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="/common/style.css" rel="stylesheet" />
  </head>
  <!-- profile -->
<body class="profilePage">
        {{> header}}
        {{> navbar}}
        <profile>
            <div class="profileContainer">
                <div class="profileDetails">
                    <img src={{viewedUserPfp}}>
                    <div class="profileName">
                        <div class="name">
                            <span>{{profileName}}</span>
                        </div>
                        <div class="username">
                            <span>@{{username}}</span>
                        </div>
                    </div>
                </div>
                <div class="profileBio">
                    <span>{{bio}}</span>
                </div>
                {{#if (eq username currentuser)}}
                    <div class="profileEditButton" onclick="window.location.href='/editprofile/{{username}}';">
                        <a href="/editprofile/{{username}}" class="no-style">
                            <span>Edit profile</span>
                        </a>
                    </div>
                {{/if}}
                {{{body}}}
            </div>
        </profile>

    </body>
    <script src="/js/dropdown.js"></script>
</html>