<!-- profile -->
<body class="profilePage">
        {{> header-loggedin}}
        {{> navbar}}
        <profile>
            <div class="profileContainer">
                <div class="profileDetails">
                    <img src={{pfp}}>
                    <div class="profileName">
                        <div class="name">
                            <span>{{profileName}}</span>
                        </div>
                        <div class="username">
                            <span>@{{username}}</span>
                        </div>
                    </div>
                </div>
                <div class="profileBio">
                    <span>{{bio}}</span>
                </div>
                {{#if (eq username currentuser)}}
                    <div class="profileEditButton">
                    <a href="/editprofile" class="no-style">
                        <span>Edit profile</span>
                    </a>
                </div>
                {{/if}}
                
                <div class="profileTabContainer">
                    <div class="items" id="selProfileTab">Posts</div>
                    <a href="/profile/{{username}}/replies" class="no-style">
                        <div class="items">Replies</div>
                    </a>
                    <a href="/profile/{{username}}/upvotes" class="no-style">
                        <div class="items">Upvotes</div>
                    </a> 
                </div>
                <hr>

                <div class="profilePosts">
                    <!-- PROFILE POST 1 -->
                    
                    <!-- end of PROFILE POST 1 -->
                </div>

            </div>
        </profile>

    </body>